<img class="banner" src="https://printwallart.co.za/wp-content/uploads/2015/10/robot-boarder.png">
<h1>Welcome to Robot World!</h1>

<ul>
<li><a href="/robots/new">Add New Robot</a></li>
<li><a href="/robots">See All Robots</a></li>
</ul>