<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/application.css">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' 
      rel='stylesheet' 
      type='text/css'>
    <title>Robot World</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
