<img class="banner" src="https://printwallart.co.za/wp-content/uploads/2015/10/robot-boarder.png">
<h1>Let's Make a Robot!</h1>

<form action="/robots" method="POST">
  Robot Name: <input type="text" name="robot[name]" /><br>
  City: <input type="text" name="robot[city]" /><br>
  State: <input type="text" name="robot[state]" /><br>
  Department: <input type="text" name="robot[department]" /><br>
  <input type="submit" name="submit" value="Submit" />
