<img class="banner" src="https://printwallart.co.za/wp-content/uploads/2015/10/robot-boarder.png">
<h1><%= @robot.name %></h1>
<ul>
<li><%= @robot.city %></li>
<li><%= @robot.state %></li>
<li><%= @robot.department %></li>
</ul>

<p><a href="/robots">Return to Robot Index</a></p>
<p><a href="/">Return to Robot World Home</a></p>
